doctype html
html
    head
        title=title
        include ../components/meta
    body
        h1=title
        script(defer src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
        script(defer src='/scripts/main.min.js')
